* {
  font-variant-numeric: oldstyle-nums;
  -moz-font-feature-settings: "onum";
  -webkit-font-feature-settings: "onum";
  font-feature-settings: "onum";
}

.initialism {
  font-size: inherit;
  text-transform: none;
  font-variant: small-caps;
}

code, .text-monospace {
  font-variant-numeric: initial;
  -moz-font-feature-settings: initial;
  -webkit-font-feature-settings: initial;
  font-feature-settings: initial;
}

/*#wustl-img {*/
/*  width: 300px;*/
/*}*/
